
project_id = "xrmorlkakwujyozgmilf"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[functions.provision-social-benefits]
verify_jwt = true

[functions.elevenlabs-conversation]
verify_jwt = true

[functions.elevenlabs-websocket]
verify_jwt = false
